  <mat-accordion *ngIf="messageService.getMessages().length">
    <mat-expansion-panel >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mensagens
        </mat-panel-title>
        <mat-panel-description>
          {{messageService.getMessages().length}} menssagem(ns)
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <button mat-raised-button color="warn" (click)="messageService.clear()">Limpar Mensagens</button>
      </p>
      <div *ngFor="let message of messageService.getMessages()">
        {{message}}
      </div>
    </mat-expansion-panel>
  </mat-accordion>
